@import "tailwindcss";

@theme {
	--color-primary: #3b82f6;
}

html {
	scroll-behavior: smooth;
	color-scheme: light dark;
}

body {
	@apply bg-neutral-100 text-neutral-900 antialiased dark:bg-neutral-900 dark:text-neutral-100;
}
